<a href="https://colab.research.google.com/github/manavidubey/Attentio/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://www.kaggle.com/datasets/shahzadahmad0402/depression-and-anxiety-data?resource=download

In [ ]:
data=pd.read_csv("/content/depression_anxiety_data.csv")

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('dark_background')

In [ ]:
data=pd.read_csv("/content/depression_anxiety_data.csv")
data

,id,school_year,age,gender,bmi,who_bmi,phq_score,depression_severity,depressiveness,suicidal,depression_diagnosis,depression_treatment,gad_score,anxiety_severity,anxiousness,anxiety_diagnosis,anxiety_treatment,epworth_score,sleepiness
0,1,1,19,male,33.333333,Class I Obesity,9,Mild,False,False,False,False,11,Moderate,True,False,False,7.0,False
1,2,1,18,male,19.841270,Normal,8,Mild,False,False,False,False,5,Mild,False,False,False,14.0,True
2,3,1,19,male,25.102391,Overweight,8,Mild,False,False,False,False,6,Mild,False,False,False,6.0,False
3,4,1,18,female,23.738662,Normal,19,Moderately severe,True,True,False,False,15,Severe,True,False,False,11.0,True
4,5,1,18,male,25.617284,Overweight,6,Mild,False,False,False,False,14,Moderate,True,False,False,3.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778,779,4,24,female,21.096191,Normal,6,Mild,False,False,False,False,1,None-minimal,False,False,False,3.0,False
779,780,4,22,male,25.308642,Overweight,4,None-minimal,False,False,False,False,6,Mild,False,False,False,3.0,False
780,781,4,22,male,22.720438,Normal,2,None-minimal,False,False,False,False,5,Mild,False,False,False,4.0,False
781,782,4,22,female,23.033168,Normal,17,Moderately severe,True,False,False,False,19,Severe,True,False,False,15.0,True
782,783,4,22,male,22.598140,Normal,6,Mild,False,False,False,False,6,Mild,False,False,False,0.0,False

In [ ]:
data=data.drop(columns=['id','who_bmi','phq_score','depressiveness','depression_diagnosis','suicidal','depression_treatment','gad_score','anxiety_diagnosis','anxiety_treatment','epworth_score'])

In [ ]:
data=data.dropna()
data

,school_year,age,gender,bmi,depression_severity,anxiety_severity,anxiousness,sleepiness
0,1,19,male,33.333333,Mild,Moderate,True,False
1,1,18,male,19.841270,Mild,Mild,False,True
2,1,19,male,25.102391,Mild,Mild,False,False
3,1,18,female,23.738662,Moderately severe,Severe,True,True
4,1,18,male,25.617284,Mild,Moderate,True,False
...,...,...,...,...,...,...,...,...
778,4,24,female,21.096191,Mild,None-minimal,False,False
779,4,22,male,25.308642,None-minimal,Mild,False,False
780,4,22,male,22.720438,None-minimal,Mild,False,False
781,4,22,female,23.033168,Moderately severe,Severe,True,True
782,4,22,male,22.598140,Mild,Mild,False,False

In [ ]:
data.shape

(767, 8)

In [ ]:
Y=data.iloc[:,4]

In [ ]:
Y=Y.unique()
Y

array(['Mild', 'Moderately severe', 'None-minimal', 'Moderate', 'Severe',
       'none'], dtype=object)

In [ ]:
X=data[['school_year','age','gender','bmi','sleepiness']]
X

     school_year  age  gender        bmi sleepiness
0              1   19    male  33.333333      False
1              1   18    male  19.841270       True
2              1   19    male  25.102391      False
3              1   18  female  23.738662       True
4              1   18    male  25.617284      False
..           ...  ...     ...        ...        ...
778            4   24  female  21.096191      False
779            4   22    male  25.308642      False
780            4   22    male  22.720438      False
781            4   22  female  23.033168       True
782            4   22    male  22.598140      False

[767 rows x 5 columns]

In [ ]:
# split a dataset into train and test sets
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
# create dataset
X, Y = make_blobs(n_samples=1000)  #what does make_blobs() do??
# split into train test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(800, 2) (200, 2) (800,) (200,)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
y_pred = dtc.predict(X_test)

In [ ]:
y_pred

array([0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 2, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 2, 0, 2, 0, 2, 2, 0, 1, 2, 2, 0, 0, 1, 1, 2, 0, 0, 0, 2, 1,
       0, 2, 1, 1, 0, 1, 0, 0, 0, 2, 0, 1, 2, 0, 0, 2, 2, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 2, 1, 1, 0, 1, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2, 1, 0,
       1, 2, 0, 1, 2, 0, 0, 2, 2, 2, 1, 1, 0, 0, 1, 0, 2, 2, 1, 1, 1, 1,
       0, 2, 2, 2, 2, 0, 1, 1, 0, 2, 2, 2, 1, 2, 2, 0, 2, 0, 2, 2, 2, 2,
       1, 2, 2, 1, 0, 2, 0, 0, 2, 1, 1, 0, 2, 1, 0, 2, 0, 0, 2, 2, 1, 1,
       1, 2, 0, 0, 0, 2, 1, 1, 1, 0, 2, 2, 2, 1, 1, 0, 1, 1, 1, 2, 2, 2,
       1, 0, 1, 0, 1, 2, 1, 1, 1, 2, 1, 2, 2, 0, 2, 1, 2, 0, 0, 0, 1, 2,
       0, 1])